extends ../layout
block content
    center
        br
        h1 Lista zapisanych do konferencji osob
        br
        table(class="table")
            thead
                tr
                    th imie
                    th nazwisko
                    th email
            tbody
                each temp in uzytkownik
                    tr
                        td=temp.imie
                        td=temp.nazwisko
                        td=temp.email
                        