
extends ../layout
block content
    center
        br
        h1 Dołącz do konferencji
        br
        table(class="table")
            thead
                tr
                    th id
                    th Nazwa konferencji
                    th Data rozpoczecia
                    th Data zakonczenia
                    th adres
                    th 
            tbody
                each temp in conference
                    tr
                        td=temp.id_konferencja
                        td=temp.nazwa
                        td=temp.data_rozpoczecia
                        td=temp.data_zakonczenia
                        td=temp.adres
                        td: a(href="/conference/registration_selected/" + temp.id_konferencja) Dołącz
