extends layout

block content
  a(href="/login", class="btn btn-primary") Logowanie
  a(href="/send_paper", class="btn btn-primary") Wyśij referat
  a(href="/conference/registration_for_participation", class="btn btn-primary") Rejestracja uczestnictwa
  a(href="/register", class="btn btn-primary") Rejestracja
  a(href="/review_browse", class="btn btn-primary") Przeglądaj recenzje
  a(href="/conference/conference", class="btn btn-primary") Konferencje
  a(href="/charges/charges", class="btn btn-primary") Zarzadzenie oplatami
  br
  h1 Aktywne Konferencje
  table(class="table")
            thead
                tr
                    th Nazwa konferencji
                    th adres
            tbody
                each temp in conference
                    tr
                        td=temp.nazwa
                        td=temp.adres