doctype html
html
  head
    title Projekt z baz
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  body
      nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                a(class="navbar-brand", href="/") Projekt z baz
            div(class="collapse navbar-collapse")
                if currentUser && currentUser.adm
                    ul(class="nav navbar-nav")
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Zarządzaj użytkownikami
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li: a(href="/add_user") Dodawanie użytkownika
                                li: a(href="/list_users") Modyfikacja użytkownika
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Zarządzaj referatami
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li: a(href="/add_paper") Dodaj referat
                                li: a(href="/assign_paper") Przypisz recenzenta do referatu
                                li: a(href="/list_paper") Lista referatów
                                li: a(href="/verify_paper") Weryfikuj referat
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Generuj raporty
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li: a(href="/report_users") Raport o użytkownikach
                                li: a(href="/report_articles") Raport o artykułach
                                li: a(href="/report_accommodation") Raport o zakwaterowaniu
                                li: a(href="/report_reviewers") Raport o obciążeniu recenzentów
                                li: a(href="/report_review") Raport o wystawionych recenzjach
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Zarządzaj recenzjami
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                 li: a(href="/review_add") Dodaj recenzję
                                 li: a(href="/review_show") Pokaż recenzje
                                 li: a(href="/review_edit") Popraw recenzje
                                 li: a(href="/review_comment") Zarządzaj komentarzami do recenzji
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Generuj raporty
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li: a(href="/conference/conference_add") Dodaj konferencje
                                li: a(href="/conference/conference_info") Edytuj konferencje
                                li: a(href="/conference/registration_for_participation") Dolacz do konferencji 
                                li: a(href="/conference/conference_participants_list") Lista osob dopisanych do konferencji
                if currentUser                
                    ul(class="nav navbar-nav navbar-right")
                        li: p(class="navbar-text") Witaj #{currentUser.imie}!
                        li(class="active"): a(href="/logout") Wyloguj
                else
                    ul(class="nav navbar-nav navbar-right")
                        li(class="active"): a(href="/register") Zarejestruj się
                        li: a(class="pull-left", href="/login")
                            img(src="/icons/lock.svg")
                            | Zaloguj się
    div(class="container")
        div(class="row")
            div(class="col-lg-offset-1 col-lg-10")
                if message !== undefined
                    div(class="alert alert-dismissible alert-info")
                        p= message
                block content