//
   Created by jacek on 13.05.15.

extends layout

block content
    if paper
        h2= paper.nazwa
        h4 Autor: #{author.imie} #{author.nazwisko}
        p= paper.tresc
    else
        h1 Nie znaleziono referatu!