//
   Created by Kamil on 2015-05-15.
extends layout
block content
    br
    center
        h1 Zarządzanie recenzjami
    br
    br
    center
        a(href="review_add",class="btn btn-primary") Dodaj recenzję
        br
        a(href="review_show",class="btn btn-primary") Przeglądaj recenzje
        br
        a(href="review_edit",class="btn btn-primary") Edytuj recenzję
        br
        a(href="review_comment",class="btn btn-primary") Dodaj komentarz