extends layout

block content
    div(class="row")
          div(class="col-lg-8")
             form(class="form-horizontal", action="/paper", method="post", enctype="multipart/form-data")
                fieldset
                   h3 Wybierz referat do ktorego chcesz przejrzec recenzje
                   div(class="form-group")
                      label(for="referat", class="col-lg-2 control-label") Referat 
                      div(class="col-lg-10")
                         select(class="form-control", id="select", placeholder="Default input")
                            each val in ['Referat1', 'Referat2', 'Referat3']
                               option= val
                    div(class="form-group")
                      div(class="col-lg-10 col-lg-offset-2")
                         button(type="submit", class="btn btn-primary") Pokaz
