//
   Created by ania on 2015-05-22.

doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  body 
    h1= "Raport o artykułach"
    div(class="row")
            div(class="col-lg-5")
               h5
                table(class= "table table-bordered")
                    thead
                        tr
                            th Nazwa sesji panelowej 
                            th Nazwa konferencji
                            th Imię uczestnika
                            th Nazwisko uczestnika
                            th Tytuł referatu
                            th Ocena zgodności
                            th Ocena oryginalności
                            th Ocena jakości
                            th Ocena poprawności
                            th Ocena średnia
                            th Nazwisko recenzenta
                    tbody
                        each tmp1 in artykuly
                            tr
                                td= tmp1.sesja
                                td= tmp1.konferencja
                                td= tmp1.imie
                                td= tmp1.nazwisko
                                td= tmp1.referat
                                td= tmp1.ocenaz
                                td= tmp1.ocenao
                                td= tmp1.ocenaj
                                td= tmp1.ocenap
                                td= tmp1.ocena_sr
                                td= tmp1.nazwisko2