//
   Created by ania on 2015-05-22.

doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body 
    h1= "Raport o użytkownikach"
    div(class="row")
            div(class="col-lg-12")
                h4= "Uczestnicy"
                table(class= "table table-bordered")
                    thead
                        tr
                                th Nazwa sesji panelowej
                                th Nazwa konferencji
                                th Imię 
                                th Nazwisko 
                                th E-mail
                                th Tytuł artykułu
                                th Aktywny
                    tbody            
                            each tmp1 in uczestnicy
                                tr
                                    td= tmp1.sesja
                                    td= tmp1.konferencja
                                    td= tmp1.imie
                                    td= tmp1.nazwisko
                                    td= tmp1.email
                                    td= tmp1.referat
                                    if(tmp1.aktywny === 1) 
                                        td= "tak"
                                    else
                                        td= "nie"

    
        div(class="row")
            div(class="col-lg-12")
                h4= "Recenzenci"
                table(class= "table table-bordered")
                    thead
                        tr
                                th Nazwa sesji panelowej
                                th Nazwa konferencji
                                th Imię 
                                th Nazwisko 
                                th E-mail
                                th Tytuł artykułu
                                th Aktywny
                    tbody
                            each tmp2 in recenzenci
                                tr
                                    td= tmp2.sesja
                                    td= tmp2.konferencja
                                    td= tmp2.imie
                                    td= tmp2.nazwisko
                                    td= tmp2.email
                                    td= tmp2.referat
                                    if(tmp2.aktywny === 1) 
                                        td= "tak"
                                    else
                                        td= "nie"
                                        

        div(class="row")
                    div(class="col-lg-12")                          
                        h4= "Administratorzy"
                        table(class= "table table-bordered")
                            thead
                                tr
                                        th Imię 
                                        th Nazwisko 
                                        th E-mail
                            tbody
                                    each tmp2 in administratorzy
                                        tr
                                            td= tmp2.imie
                                            td= tmp2.nazwisko
                                            td= tmp2.email   