//
   Created by user on 2015-05-22.
extends ../layout
block content
    a(href="/report_reviewers/dld", class="btn btn-primary") Generuj do pliku .pdf
    
    h1= "Raport o obciążeniu recenzentów"
    div(class="row")
            div(class="col-lg-10")
               h5
                table(class= "table table-bordered")
                    thead
                        tr
                            th Imię recenzeta
                            th Nazwisko recenzenta
                            th Liczba przypisanych referatów
                            th Liczba wystawionych recenzji
                    tbody
                        each tmp1 in recenzenci
                            tr
                                td= tmp1.imie
                                td= tmp1.nazwisko
                                td= tmp1.referaty
                                td= tmp1.recenzje
