
extends ../layout
block content
    div(class="page-header")
        h3 Podgląd recenzji
    h4 Tytuł: #{review.nazwa}
    p Zgodność: #{oceny[review.ocena_zgodnosci]}
    p Oryginalność: #{oceny[review.ocena_oryginalnosci]}
    p Jakość: #{oceny[review.ocena_jakosci]}
    p Poprawność: #{oceny[review.ocena_poprawnosci]}
    h4 Treść
    p= review.tresc
    div(class="col-lg-6")
        div(class="page-header")
            h4 Komentarze
        each comment in comments
            div(class="well")
                p= comment.tresc
                small(class="pull-right") #{comment.data} - #{comment.autor}
        form(class="form-horizontal", action="/comment/" + review.id_recenzja, method="post")
            fieldset
                div(class="form-group")
                    textarea(type="text", class="form-control", name="content")
                div(class="form-group pull-right")
                     button(type="submit", class="btn btn-primary") Dodaj