extends ../layout

block content
    div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/review/" + id, method="post")
            fieldset
               h3 Dodaj recenzję
               div(class="form-group")
                  label(for="name", class="col-lg-2 control-label") Nazwa
                  div(class="col-lg-10")
                     input(id="name", type="text", class="form-control", name="nazwa")
               div(class="form-group")
                  label(for="review", class="col-lg-2 control-label") Recenzja
                  div(class="col-lg-10")
                     textarea(id="review", class="form-control", name="tresc")
               h3 Oceń referat
               div(class="form-group")
                 label(for="rating", class="col-lg-2 control-label") Zgodnosc z tematem
                 div(class="col-lg-10")
                    select(class="form-control", id="select", name="zgod")
                       each val in oceny
                          option(value=val.i)= val.n
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Oryginalnosc
                   div(class="col-lg-10")
                        select(class="form-control", id="select", name="oryg")
                         each val in oceny
                          option(value=val.i)= val.n
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Jakosc
                   div(class="col-lg-10")
                       select(class="form-control", id="select", name="jakosc")
                         each val in oceny
                          option(value=val.i)= val.n
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Poprawnosc
                   div(class="col-lg-10")
                        select(class="form-control", id="select", name="popr")
                         each val in oceny
                          option(value=val.i)= val.n
               div(class="form-group")
                       label(for="inputPrawa", class="col-lg-2 control-label") Dodatkowe opcje
                       div(class="col-lg-10")
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputOpcje", name="zatwierdz")
                                    | Zatwierdz do publikacji
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputOpcje", name="wyroznij")
                                    | Wyroznij
                            div(class="checkbox")           
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Dodaj
