//
   Created by Mateusz on 2015-05-15.
extends ../layout
block content
    br
    center
        h1 Opłaty
    br
    br
    center
        a(href="/charges/choose_conference",class="btn btn-default") Wprowadzenie kosztów konferencji
        br
        br
        a(href="/charges/review_conference",class="btn btn-default") Przegląd wpłat na konferencję
        br
        br
        a(href="/charges/conference_costs",class="btn btn-default") Przegląd kosztow konferencji
        br
        br