//
   Created by Mateusz on 2015-05-14.

extends ../layout
block content
    center
        br
        h1 Wprowadzenie kosztów konferencji
        br
        br
        h3 Wybierz konferencje:
        br
        div(class="col-lg-10")
            select(class="form-control", id="select")
                option Konferencja nr 1
                option Konferencja nr 2
                
        br
        div(class="form-group")
            label(class="control-label", for="focusedInput") 
        br    
        h4 Wprowadź koszt konferencji:
        input(class="form-control", id="focusedInput", type="text", value="Koszt Konferencji")
        br
        a(href="/charges/choose_conference", class="btn btn-default") Zatwierdź