extends ../layout
block content
    center
        br
        h1 Przegląd kosztow konferencji
        br
        table(class="table")
            thead
                tr
                    th id
                    th Nazwa konferencji
                    th Data rozpoczecia
                    th Data zakonczenia
                    th Koszt
            tbody
                each temp in conference
                    tr
                        td=temp.id_konferencja
                        td=temp.nazwa
                        td=temp.data_rozpoczecia
                        td=temp.data_zakonczenia
                        td=temp.koszty