extends ../layout
block content
    center
        br
        h1 Potwierdzenie wplaty
        br
        br
        h4 Wybierz uzytkownika:
        br
        div(class="col-lg-10")
            select(class="form-control", id="select")
                option Artur Wozniak
                option Wladyslaw Stepien
        br    
        br
        br
        h4 Wprowadź kwotę:
        input(class="form-control", id="focusedInput", type="text", value="Kwota")
        br    
        a(href="/charges/review_costs", class="btn btn-default") Zatwierdź