//
   Created by Mateusz on 2015-05-14.

extends ../layout
block content
    center
        br
        h1 Przegląd wpłat na konferencje
        br
        table(class="table")
            thead
                tr
                    th #
                    th Imie
                    th Nazwisko
                    th Data wpłaty
                    th Kwota
                    th Potwierdzenie
            tbody
                tr
                    td 1
                    td Aleskander
                    td Paszniewski
                    td 15-04-2014
                    td 500
                    td TAK
                tr
                    td 2
                    td Patryk
                    td Szampon
                    td 13-04-2014
                    td 150
                    td TAK
                tr
                    td 3
                    td Janusz
                    td Nikczemny
                    td
                    td 150
                    td NIE
        br
        a(href="/charges/payment_confirm", class="btn btn-default") Wystaw potwierdzenie wplaty