//
   Created by Mateusz on 2015-05-14.

extends ../layout
block content
    center
        br
        h1 Przegląd wpłat na konferencję
        br
        br
        h4 Wybierz konferencje:
        br
        div(class="col-lg-10")
            select(class="form-control", id="select")
                option Konferencja nr 1
                option Konferencja nr 2
        a(href="/charges/review_costs", class="btn btn-default") Zatwierdź